/*
GENERAL
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
WELCOME
*/

.welcome {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("../assets/images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  bottom: -300px;
  width: 80%;
  height: 600px;
  background-color: var(--primarycolor-light);
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.tileText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.tileText a {
  padding: 10px;
  width: fit-content;
  background-color: var(--primarycolor-dark);
  color: var(--fontcolor-light);
  font-size: var(--fontsize-s);
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}

.tileText a:hover {
  background-color: var(--secondarycolor-red);
  cursor: pointer;
}

.tileImage {
  max-height: 300px;
}

.tileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
NEWS
*/

.news {
  display: flex;
  margin-top: 350px;
  margin-bottom: 50px;
  width: 100%;
  height: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 20px 400px 20px 20px;
  width: 50%;
  background-color: var(--primarycolor-dark);
  color: var(--fontcolor-light);
  box-shadow: 0px 3px 3px 2px lightgray;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info a {
  width: fit-content;
}

.info img {
  width: 50px;
  filter: var(--filtercolor-light);
  transition: 0.25s ease-in-out;
}

.info img:hover {
  filter: var(--filtercolor-secondaryred)
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: absolute;
  right: 0;
  margin-top: 50px;
  width: 1200px;
  height: 500px;
}

.card {
  box-shadow: 0px 1px 1px 2px var(--fontcolor-dark);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
CONTACT
*/

.contact {

  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px;
  background-color: var(--primarycolor-dark);
  color: var(--fontcolor-light);
  text-align: center;
}

.contact button {
  padding: 10px;
  background-color: var(--primarycolor-light);
  color: var(--fontcolor-dark);
  font-size: var(--fontsize-l);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}

.contact button:hover {
  background-color: var(--secondarycolor-red);
  color: var(--fontcolor-light);
  cursor: pointer;
}

/*
==============================================================
MEDIA
==============================================================
*/

@media only screen and (max-width: 1600px) {
  .info {
    padding: 20px 300px 20px 20px;
  }

  .cards {
    width: 1000px;
  }
}

@media only screen and (max-width: 1400px) {
  .cards {
    margin-top: 75px;
    width: 900px;
    height: 450px;
  }
}

@media only screen and (max-width: 1200px) {
  .cards {
    width: 800px;
  }
}

@media only screen and (max-width: 1100px) {
  .info h2 {
    font-size: 32px;
  }

  .cards {
    width: 750px;
  }
}

@media only screen and (max-width: 1023px) {
  .tiles {
    bottom: -450px;
    width: 90%;
    height: 900px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }

  .tile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .news {
    flex-direction: column;
    margin-top: 500px;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    width: 100%;
  }

  .infoText {
    gap: 25px;
    max-width: 50%;
  }

  .cards {
    gap: 0;
    position: relative;
    margin-top: 0;
    width: 100%;
  }

  .card {
    box-shadow: 0px 1px 5px black;
  }
}

@media only screen and (max-width: 520px) {
  .tileText {
    font-size: 14px;
  }

  .tileText h3 {
    font-size: 24px;
  }

  .tileText a {
    padding: 5px;
    font-size: 12px;
  }

  .info {
    padding: 25px;
  }

  .info img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .tileText {
    font-size: 11px;
  }

  .tileText h3 {
    font-size: 16px;
  }

  .tileText a {
    font-size: 12px;
  }
}

@media only screen and (max-height: 599px) {
  .tiles {
    bottom: -600px;
  }

  .news {
    margin-top: 650px;
  }
}

@media only screen and (max-height: 450px) {
  .tiles {
    bottom: -700px;
  }

  .news {
    margin-top: 750px;
  }
}

@media only screen and (max-height: 350px) {
  .tiles {
    bottom: -800px;
  }

  .news {
    margin-top: 850px;
  }
}

@media only screen and (max-height: 200px) {
  .tiles {
    bottom: -850px;
  }

  .news {
    margin-top: 900px;
  }
}